<script>
document.addEventListener('DOMContentLoaded', displayTable);
//document.addEventListener('DOMContentLoaded', bindInsert);

  function displayTable(){

               var req = new XMLHttpRequest();
                req.open('GET', '/select', true);
                var data = "";
               req.addEventListener('load',function(){
                    if(req.status >= 200 && req.status < 400){
                        var response = JSON.parse(req.responseText);
                        
                        for(var p in response.results){
                            newRow = document.createElement("tr");
                            document.getElementById("body").appendChild(newRow);
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].name; 
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].reps;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].weight;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].date;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].lbs;

                        }
                  console.log(response);
                    } else {
                           console.log("Error in network request: " + request.statusText);
                    } 
                });
                   req.send(null);
                   event.preventDefault();
         
  }

</script>

  <h1>List of Excercises</h1>

<table>

/*
<table id="dataTable">
    <caption> My Exercises </caption>
    <thead>
        <th> Name </th>
        <th> Reps</th>
        <th> Weight </th>
        <th> Date (yyyy-mm-dd) </th>
        <th> Lbs (True) or Kgs(false) </th>
    </thead>
  <tbody id="body"></tbody>
</table>

