<script>
document.addEventListener('DOMContentLoaded', displayTable);
//document.addEventListener('DOMContentLoaded', bindInsert);

  function displayTable(){

               var req = new XMLHttpRequest();
                req.open('GET', '/', true);
            
               req.addEventListener('load',function(){
                    if(req.status >= 200 && req.status < 400){
                        var response = JSON.parse(req.responseText);
                        console.log(response.results.name);
                    } else {
                           console.log("Error in network request: " + request.statusText);
                    } 
                });
                   req.send(null);
                   event.preventDefault();
         
  }
  </script>
  
  {{#each results}}
	<tr>
		<td>{{this.name}} </td>
		<td>{{this.reps}} </td>
		etc...
	</tr>
{{/each}}
