<script>


document.addEventListener('DOMContentLoaded', displayTable);
document.addEventListener('DOMContentLoaded', bindInsert);

function displayTable(){

               var req = new XMLHttpRequest();
                req.open('GET', '/select', true);
                var data = "";
               req.addEventListener('load',function(){
                    if(req.status >= 200 && req.status < 400){
                        var response = JSON.parse(req.responseText);
                        
                        for(var p in response.results){
                          var deleteMe=  "<p></p>";
                          
                            newRow = document.createElement("tr");
                            
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].name; 
                            
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].reps;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].weight;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].date;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].lbs;
                            
                            newCol = document.createElement("td");
                            
                        
                            

                            newCol.innerHTML = '<form method="post"><p><input type="hidden" name="deleteID" id = "deleteID" value= response.results[p].id ></p><p><input type="submit" name="delete" id="delete" value="Delete"></p></form>';
                            newRow.appendChild(newCol);
                            
                            newCol = document.createElement("td");
                            newTest = document.createElement("button");
                            newTest.id = "testing";
                            newCol.appendChild(newTest);
                            newRow.appendChild(newCol);
                            
                            document.getElementById("body").appendChild(newRow);
                            
                            bindDelete();
                       
                       
                       
                        }

                    } else {
                           console.log("Error in network request: " + request.statusText);
                    } 
                });
                   req.send(null);
                   event.preventDefault();
         
  }
  
  
function bindDelete (){
newTest.addEventListener('click', function(event){
  
    var req = new XMLHttpRequest();
    var payload = {id:null};

    payload.name = document.getElementById('deleteID').value;
    req.open('POST', '/delete', true);
    req.setRequestHeader('Content-Type', 'application/json');
 
    req.addEventListener('load',function(){
      if(req.status >= 200 && req.status < 400){
        var response = JSON.parse(req.responseText);
                     
      } else {
        console.log("Error in network request: " + request.statusText);
      }});
    req.send(JSON.stringify(payload));
 
    event.preventDefault();
  });
}
  
  
  
function bindInsert (){
document.getElementById('newSubmit').addEventListener('click', function(event){
  
  console.log("Error Hunt!");
  
    var req = new XMLHttpRequest();
    var payload = {name:null, reps:null, weight:null, date:null, lbs:null};

    payload.name = document.getElementById('name').value;
    payload.reps = document.getElementById('reps').value;
    payload.weight = document.getElementById('weight').value;
    payload.date = document.getElementById('date').value;
    payload.lbs = document.getElementById('lbs').value;
    req.open('POST', '/insert', true);
    req.setRequestHeader('Content-Type', 'application/json');
 
    req.addEventListener('load',function(){
      if(req.status >= 200 && req.status < 400){
        var response = JSON.parse(req.responseText);
                     
      } else {
        console.log("Error in network request: " + request.statusText);
      }});
    req.send(JSON.stringify(payload));
    getNew();
    event.preventDefault();
  });
}


function getNew(){

               var req = new XMLHttpRequest();
                req.open('GET', '/selectNew', true);
               req.addEventListener('load',function(){
                    if(req.status >= 200 && req.status < 400){
                        var response = JSON.parse(req.responseText);
                        
                            newRow = document.createElement("tr");
                            
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[0].name; 
                           
                           
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[0].reps;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[0].weight;
                           
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[0].date;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[0].lbs;
                           
                            document.getElementById("body").appendChild(newRow);
                            
                            document.getElementById("name").value="";
                            document.getElementById("reps").value="";
                            document.getElementById("weight").value="";
                            document.getElementById("date").value="";
                            document.getElementById("lbs").value=1;
                            

                    } else {
                           console.log("Error in network request: " + request.statusText);
                    } 
                });
                   req.send(null);
                   event.preventDefault();
         
  }


</script>

<h1>Add New Exercise</h1>

<form method="post" name="exercise-form">
    <p>Name:</p>
    <p><input type="text" name="name" id="name"></p>

    <p>Reps:</p>
    <p><input type="number" name="reps" id="reps"></p>
    
    <p>Weight:</p>
    <p><input type="number" name="weight" id="weight"></p>
    
    <p>Date:</p>
    <p><input type="text" name="date" id="date"></p>
    

    
    <div>
    <label for="lbs"> Units</label>
    <select name="lbs" id="lbs">
        <option value="1" selected>Lbs </option>
        <option value="0">Kgs</option>
    </select>
  </div>
  <p><input type="submit" value="submit" name="newSubmit" id="newSubmit">
      
  </p>
</form>


  <h1>List of Excercises</h1>

<table>


<table id="dataTable">
    <caption> My Exercises </caption>
    <thead>
        <th> Name </th>
        <th> Reps</th>
        <th> Weight </th>
        <th> Date (yyyy-mm-dd) </th>
        <th> Units?</th>
        <th> Delete</th>
    </thead>
  <tbody id="body"></tbody>
</table>

