<script>


document.addEventListener('DOMContentLoaded', displayTable);
document.addEventListener('DOMContentLoaded', bindInsert);
  function displayTable(){

               var req = new XMLHttpRequest();
                req.open('GET', '/insert', true);
                var data = "";
               req.addEventListener('load',function(){
                    if(req.status >= 200 && req.status < 400){
                        var response = JSON.parse(req.responseText);
                        
                        for(var p in response.results){
                            newRow = document.createElement("tr");
                            document.getElementById("body").appendChild(newRow);
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].name; 
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].reps;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].weight;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].date;
                            
                            newCol = document.createElement("td");
                            newRow.appendChild(newCol);
                            newCol.textContent = response.results[p].lbs;

                        }
                  console.log(response);
                    } else {
                           console.log("Error in network request: " + request.statusText);
                    } 
                });
                   req.send(null);
                   event.preventDefault();
         
  }
  
  function bindInsert (){
document.getElementById('newSubmit').addEventListener('click', function(event){
  table = document.getElementById(dataTable);
  tbody= document.getElementById("body");
  var oldTable = table.removeChild(tbody);
  body = document.createElement("tbody");
  table.appendChild(body);
  displayTable();
    var req = new XMLHttpRequest();
    var payload = {name:null};
    payload.name = document.getElementById('name').value;
    req.open('POST', '/insert', true);
    req.setRequestHeader('Content-Type', 'application/json');
    req.addEventListener('load',function(){
      if(req.status >= 200 && req.status < 400){
        
      } else {
        console.log("Error in network request: " + request.statusText);
      }});
    req.send(JSON.stringify(payload));
    event.preventDefault();
  });
}
</script>

<h1>Add New Exercise</h1>

<form method="post" name="exercise-form" action="/insert" >
    <p>Name:</p>
    <p><input type="text" name="name" id="name"></p>

    <p>Reps:</p>
    <p><input type="number" name="reps"></p>
    
    <p>Weight:</p>
    <p><input type="number" name="weight"></p>
    
    <p>Date:</p>
    <p><input type="text" name="date"></p>
    

    
    <div>
    <label for="lbs"> Measure in Pounds?</label>
    <select name="lbs">
        <option value="1" selected>True </option>
        <option value="0">False</option>
    </select>
  </div>
  <p><input type="submit" value="submit" name="newSubmit" id=newSubmit>
      
  </p>
</form>


  <h1>List of Excercises</h1>

<table>


<table id="dataTable">
    <caption> My Exercises </caption>
    <thead>
        <th> Name </th>
        <th> Reps</th>
        <th> Weight </th>
        <th> Date (yyyy-mm-dd) </th>
        <th> Lbs (True) or Kgs(false) </th>
    </thead>
  <tbody id="body"></tbody>
</table>

