
.add{
  background: #ff6f69;
  border-style:solid;
  bordor-color:#662C2A;
}

.centered {
/*  position: absolute; /* or absolute */
 /* top: 50%; */
  padding-left: 10cm;
}

table{
  border-style:solid;
}
th{
  border-style:solid;
  
}
td{
  border-style:solid;
}
