
.add{
  background: #ff6f69;
  border-style:solid;
  bordor-color:#662C2A;
}

.centered {

  padding-left: 2cm;
}

table{
  border-style:solid;
  border-collapse:collapse;
  
}

th{
  border-style:solid;
}
tr{
  border-style:solid;
}

td{
  border-style:solid;
  width: 80px;
  height:50px;
  text-align: center;
}

caption{
  font-size: 48px;
  padding-bottom: 5px;
}

h1{
  font-size: 48px;
  padding-bottom:10px;
}

#display{
  padding: 15px;
   padding-bottom:30px;
  background: #A1Ca8F;
  border-style:solid;
  bordor-color:#506547;
}
