
.add{
  background: #ff6f69;
  border-style:solid;
  bordor-color:#662C2A;
}

.centered {

  padding-left: 2cm;
}

table{
  border-style:solid;
  border-collapse:collapse;
  
}

th{
  border-style:solid;
}
tr{
  border-style:solid;
}

td{
  border-style:solid;
}
